.nav {
    grid-area: nav;
}
.item {
    margin-top: 3px;
}
.item a {
    color: #000;
    text-decoration: none;

}

.item a.active {
    color: darkblue;
    font-weight: bold;
}

.item a:hover {
    font-weight: bold;

}
